:root {
  --gris: #4a4a4a;
  --white: #ffffff;
  --turquesa-adalab: #3cdbc0;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
}

header {
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*  padding: 10px auto 13px; */
  background-color: var(--white);
}
/* .header img {
  padding: 10px;
  width: 155px;
} */
.header .menu-bar {
  text-align: center;
}
.menu-bar li {
  display: inline-block;
}
.menu-bar a {
  font-size: 1.6rem;
  color: var(--gris);
  font-weight: 300;
  text-decoration: none;
  margin-right: 20px;
  padding: 10px; /* si pinchamos fuera justo de la palabra tb funcionará en link. buena practica responsive en botones y enlaces */
  text-transform: uppercase;
}
main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--turquesa-adalab);
}

.hero h1 {
  font-size: 3rem;
  text-align: center;
  width: 11ch; /* 11 se refiere a las letras,11 letras y salta */
  color: var(--white);
  /*  width: 60%; */
  /* width: 11ch; pones las letras del mayor */
  /*  word-spacing: 100vw; el espacio sera 100 por eso va de palabra en palabra */
  /*  margin: 0 auto; */
}
