:root {
  --gris: #4a4a4a;
  --white: #ffffff;
  --turquesa-adalab: #3cdbc0;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
}
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px auto 13px;
}
.header .menu-bar {
  text-align: center;
}
.menu-bar li {
  display: inline-block;
}
.menu-bar a {
  color: var(--gris);
  font-weight: 300;
  text-decoration: none;
  margin-right: 20px;
}
