@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
  }
  /*  .header .logo {
    position: absolute;
    left: 0;
  }
  .header .menu-bar {
    position: absolute;
    right: 5%;
  } */
  .hero h1 {
    font-size: 4rem;
    width: 50%;
  }
}
